<h2> Facility </h2>

<section id="main">
    <a href="./#/Facilities"> Back to Facilities list </a>
    <nav id="secondary" class="">
        <div class="">
            <form id="editForm">
                <input id="editFacilityId" type="hidden" name="Id" />
                <p><label>Name:</label><input id="editFacilityName" name="FacilityName" /></p>
                <p><label>Group:</label><input id="editFacilityGroup" name="FacilityGroup" /></p>
            </form>
            <button id="submitEdit" type="submit">Save</button>
        </div>
    </nav>
</section>
