<!--<input type="text" ng-model="nameFilter" placeholder="Search..." />-->

<div class="row">
    <div class="large-6 columns">

        <div ng-controller="CurrentTimeController">
            Date format: <input ng-model="format"> <hr />
            Current time is: <span my-Current-Time="format"></span>
        </div>

        <!--<div ng-controller="CurrentTimeController">
            <div facility-Info></div>
        </div>-->

        <div id="summaryDisplay" class="display">
            <table>
                <thead>
                    <tr><th colspan="4">***Facilities***</th></tr>
                </thead>
                <tbody>
                    <!--<tr ng-repeat="driver in driversList | filter: searchFilter">-->
                    <tr ng-repeat="facility in facilitiesList">
                        <td>
                            <input id="id" name="id" type="radio" value="{{facility.Id}}" />
                        </td>
                        <td>{{facility.FacilityName}}</td>
                        <td>{{facility.FacilityGroup}}</td>
                        <td>{{facility.Building.BuildingName}}</td>
                    </tr>
                </tbody>
            </table>

            <div id="buttonContainer">
                <button id="reveal">Reveal</button>
                <button id="refresh">Refresh</button>
                <button id="add">Add</button>
                <button id="edit">Edit</button>
                <button id="delete">Delete</button>
            </div>

            <div ng-controller="DialogController">
                {{message}}
                <my-dialog ng-hide="dialogIsHidden" on-close="hideDialog(message)">
                    Check out the contents, {{name}}!
                </my-dialog>
            </div>
        </div>

        <!--<div ng-controller="CurrentTimeController">-->
        <!--<div facility-Info facility="{{CurrentFacility}}"></div>-->
        <!--</div>-->
        <!--<facility-Component CurrentFacility="{{CurrentFacility}}"></facility-Component>-->
        <!--<facility-Component CurrentFacility="Facility"></facility-Component>-->
        <!--<div id="editDisplay" class="display">
            <h4>Edit Facility</h4>

            <form id="editForm">
                <input id="editFacilityId" type="hidden" name="Id" />
                <p>
                    <label>Name:</label><input id="editFacilityName" name="FacilityName" />
                </p>
                <p>
                    <label>Group:</label><input id="editFacilityGroup" name="FacilityGroup" />
                </p>
                <p>
                    <label>Building:</label>
                    <building-Selector building-id="CurrentFacility.BuildingId" building="CurrentFacility.Building" default="Select Building"></building-Selector>
                </p>
            </form>
            <button id="submitEdit" type="submit">Save</button>
        </div>-->

        <div id="editDisplay" class="display" ng-show="displayDetail">
            
            <facility-Detail facility="CurrentFacility" ></facility-Detail>

        </div>

    </div>
</div>
