@{
    ViewBag.Title = "Index";
}
@section scripts {
    <script src="~/Scripts/jquery-3.1.1.js"></script>
}


<body ng-app="MVCInventoryApp">

<h2>Angular Index</h2>

<ng-view />

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Angular/Scripts/app.js"></script>
    <script src="~/Angular/Scripts/Service/services.js"></script>
    <script src="~/Angular/Scripts/Controller/controllers.js"></script>
</body>