@{ ViewBag.Title = "Index";}
@section scripts {
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    @*<script src="~/Scripts/angular.js"></script>*@
}

@*<h2>Angular Baby</h2>*@

@*<head>
        <base href="/">
    </head>*@

<body ng-app="FacilitiesApp">

    <ng-view />

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/TestAngular/app.js"></script>
    <script src="/Scripts/TestAngular/services.js"></script>
    <script src="/Scripts/TestAngular/controllers.js"></script>
    <script src="/Scripts/TestAngular/index.js"></script>
</body>
