<div class="row" ng-controller="BuildingIndexCtrl">
    <div class="large-6 columns">
        <div id="summaryDisplay" class="display">
            <table>
                <thead>
                <tr><th colspan="5">Buildings</th></tr>
                </thead>
                <tbody ng-repeat="building in buildingList">
                <tr>
                    <td><input id="id" name="id" type="radio" value="{{building.Id}}" /></td>
                    <td>{{building.BuildingName}}</td>
                    <td>{{building.Property}}</td>
                    <td>
                        <button ng-click="remove(building.Id)" class="btn btn-sm btn-warning">
                            Remove
                        </button>
                    </td>
                    <td>
                        <button ng-click="edit(building)" class="btn btn-sm btn-warning">
                            Edit
                        </button>
                    </td>
                </tr>   

                </tbody>
            </table>
        
        </div>
        <div id="editDisplay" class="display">
            {{currentBuilding.BuldingName}}<br />
            {{currentBuilding.Property}}
        </div>
        <!--<div class="col-xs-3">
            <a ng-click="selectCategory()"
               class="btn btn-block btn-default btn-lg">Home</a>
            <a ng-repeat="item in data.products | orderBy:'category' | unique:'category'"
               ng-click="selectCategory(item)" class="btn btn-block btn-default btn-lg"
               ng-class="getCategoryClass(item)"> {{item}}
               
            </a>
        </div>-->
    </div>
 </div>
