<div class="row" ng-controller="BuildingIndexCtrl">
    <div class="large-6 columns">
        <div id="summaryDisplay" class="display">
            <table>
                <thead>
                <tr><th colspan="5">Buildings</th></tr>
                </thead>
                <tbody ng-repeat="building in buildingList">
                <tr>
                    <td><input id="id" name="id" type="radio" value="{{building.Id}}" /></td>
                    <td>{{building.BuildingName}}</td>
                    <td>{{building.Property}}</td>
                    <td>
                        <button ng-click="remove(building.Id)" class="btn btn-sm btn-warning">
                            Remove
                        </button>
                    </td>
                    <td>
                        <button ng-click="edit(building.Id)" class="btn btn-sm btn-warning">
                            Edit
                        </button>
                    </td>
                </tr>   
               
                </tbody>
            </table>
            <input type="button" class="btnAdd" value="Refresh" ng-click="Refresh()" />
            &nbsp;&nbsp;
            <input type="button" class="btnAdd" value="Add" ng-click="AddBuilding()" />
        </div>
        <div id="editDisplay" class="display">
            ID: <input type="text" disabled="disabled" ng-model="currentBuilding.Id" />
           Building Name:<input id="BuildingName" name="BuildingName" type="text" ng-model="currentBuilding.BuildingName" /><br />
           Property <input id="Property" name="Property" type="text" ng-model="currentBuilding.Property" />
            <br />
            <button ng-click="sumbitChange(currentBuilding)" class="btn btn-sm btn-warning">
              Save
            </button>
        </div>
        
    </div>
 </div>
