@model MVCInventory.Domain.Building

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    @Model.BuildingName 
    @Html.TextBoxFor(x => x.Phone)
    @Html.CheckBox(x => x.IsActive)
</div>
</body>
</html>
